body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.title {
    text-align: center;
}

.navbar {
    list-style: none;
    float: right;
    position: relative;
    left: -50%;
}

.navbar > li {
    padding: 20px;
    float: left;
    position: relative;
    left: 50%;
}

.navbar :hover {
    width: flex;
    height: 100px;
    background-color: #cccfff;
}

.content-box1 {
    background-color: #cccfff;
    width: 300px;
    height: 400px;
}

.article {
    position: relative;
    list-style-type: none;
    float: left;
}