div {
    width: 150px;
    height: 150px;
    background-color: blue;
    transform: scale(200px, 200px)
}

div:hover {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: red;
    position: relative;
}

